<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" ng-model="movie.movie.title" class="form-control" id="title" placeholder="Title" required>
  </div>

  <div class="form-group">
    <label for="directors">Directors</label>
    <input type="text" ng-model="movie.movie.directors" class="form-control" id="directors"
           placeholder="Directors">
  </div>

  <div class="form-group">
    <label for="actors">Actors</label>
    <input type="text" ng-model="movie.movie.actors" class="form-control" id="actors" placeholder="Actors">
  </div>

  <div class="form-group">
    <label for="synopsis">Synopsis</label>
    <textarea class="form-control" rows="3" id="synopsis" ng-model="movie.movie.synopsis"
              placeholder="Synopsis"></textarea>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" ng-model="movie.movie.category" class="form-control" id="category" placeholder="Category">
  </div>

  <div class="form-group">
    <label for="releaseYear">Release Year</label>
    <input type="text" ng-model="movie.movie.releaseYear" class="form-control" id="releaseYear"
           placeholder="Release Year">
  </div>

  <div class="form-group">
    <label for="rate">Rate</label>
    <input type="number" ng-model="movie.movie.rate" class="form-control" id="rate" placeholder="Rate">
  </div>

  <div class="form-group">
    <label for="poster">Image URL</label>
    <input type="text" ng-model="movie.movie.poster" class="form-control" id="poster" placeholder="Image URL">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" ng-model="movie.movie.price" class="form-control" id="price" placeholder="Price">
  </div>

  <button class="btn btn-success" ng-click="movie.modify()">Submit</button>
  <button class="btn btn-Warning" ng-click="movie.cancelMovie()">Cancel</button>
</form>
