<h1>
  Movies' list
</h1>

<div class="form-group">
  <a ng-href="/#/server/api/movie/" class="btn btn-sm btn-success">Add</a>
</div>

<table class="table">
  <tr>
    <th>
      Poster
    </th>
    <th>
      Name
    </th>
    <th>
      Directors
    </th>
    <th>
      Actors
    </th>
    <th>
      Rating
    </th>
  </tr>

  <tr ng-repeat="movie in movies.movies">
    <td>
      <img ng-src='{{movie.poster}}' height="50"/>
    </td>
    <td width="200">
      <a ng-href="http://localhost:9000/#/server/api/movies/{{movie.id}}" >{{movie.title}}</a>
    </td>
    <td>
      {{movie.directors}}
    </td>
    <td>
      {{movie.actors}}
    </td>
    <td>
      {{movie.rate}}
    </td>
  </tr>
</table>
